In [1]:
import pandas as pd

In [3]:
df = pd.read_excel('Sales-Superstore-Dataset.xlsx')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Category           9994 non-null   object
 1   City               9994 non-null   object
 2   Country            9994 non-null   object
 3   Customer Name      9994 non-null   object
 4   Manufacturer       9994 non-null   object
 5   Order Date         9994 non-null   datetime64[ns]
 6   Order ID           9994 non-null   object
 7   Postal Code        9994 non-null   int64
 8   Product Name       9994 non-null   object
 9   Region             9994 non-null   object
 10  Segment            9994 non-null   object
 11  Ship Date          9994 non-null   datetime64[ns]
 12  Ship Mode          9994 non-null   object
 13  State              9994 non-null   object
 14  Sub-Category       9994 non-null   object
 15  Discount           9994 non-null   float64
 16  Number of Records  9994 non-null   int64
 17  Profit             9994 non-null   int64
 18  Profit Ratio       9994 non-null   float64
 19  Quantity           9994 non-null   int64
 20  Sales              9994 non-null   int64
dtypes: datetime64[ns](2), float64(2), int64(5), object(12)
memory usage: 1.6+ MB

In [5]:
df.duplicated().sum()

1

In [7]:
df[df.duplicated(keep=False)]

,Category,City,Country,Customer Name,Manufacturer,Order Date,Order ID,Postal Code,Product Name,Region,...,Ship Date,Ship Mode,State,Sub-Category,Discount,Number of Records,Profit,Profit Ratio,Quantity,Sales
385,Furniture,Columbus,United States,Laurel Beltran,Global,2011-04-23,US-2011-150119,43229,Global Leather Highback Executive Chair with P...,East,...,2011-04-27,Standard Class,Ohio,Chairs,0.3,1,-12,-0.04,2,281
386,Furniture,Columbus,United States,Laurel Beltran,Global,2011-04-23,US-2011-150119,43229,Global Leather Highback Executive Chair with P...,East,...,2011-04-27,Standard Class,Ohio,Chairs,0.3,1,-12,-0.04,2,281

In [8]:
df.drop_duplicates(inplace=True)

In [9]:
df.describe()

,Postal Code,Discount,Number of Records,Profit,Profit Ratio,Quantity,Sales
count,9993.000000,9993.000000,9993.0,9993.000000,9993.000000,9993.000000,9993.000000
mean,55191.576403,0.156188,1.0,28.655959,0.120548,3.789753,229.868208
std,32065.074478,0.206457,0.0,234.267081,0.466944,2.225149,623.279922
min,1040.000000,0.000000,1.0,-6600.000000,-2.750000,1.000000,0.000000
25%,23223.000000,0.000000,1.0,2.000000,0.070000,2.000000,17.000000
50%,56560.000000,0.200000,1.0,9.000000,0.270000,3.000000,54.000000
75%,90008.000000,0.200000,1.0,29.000000,0.360000,5.000000,210.000000
max,99301.000000,0.800000,1.0,8400.000000,0.500000,14.000000,22638.000000

In [5]:
df.isnull().sum()

Category             0
City                 0
Country              0
Customer Name        0
Manufacturer         0
Order Date           0
Order ID             0
Postal Code          0
Product Name         0
Region               0
Segment              0
Ship Date            0
Ship Mode            0
State                0
Sub-Category         0
Discount             0
Number of Records    0
Profit               0
Profit Ratio         0
Quantity             0
Sales                0
dtype: int64

In [12]:
df.to_excel("Sales_Superstore_fixed.xlsx")